openapi: 3.1.1
info:
  title: Ola Maps API Reference
  version: 1.0.0
  description: >
    Welcome to the Ola Maps API documentation! 

    Our comprehensive suite of APIs includes Routing, Roads, Places, Geocode,
    Geofencing, Elevation, and Tiles APIs to power your location-based
    applications. 

    Use the navigation to browse the API references and try them out
    interactively using the UI provided for each endpoint.


    Ola Maps APIs are designed to provide accurate, reliable, and scalable
    location services for businesses of all sizes. Whether you're building a
    ride-hailing application, delivery service, fleet management system, or any
    location-based service, our APIs offer the tools you need to create
    exceptional user experiences.


    Key features of our APIs include:

    - High accuracy and coverage across India

    - Low latency responses for real-time applications

    - Comprehensive documentation and examples

    - Flexible authentication options (API key or OAuth)

    - Scalable infrastructure to handle high-volume requests


    For authentication details, please refer to our Authentication section in
    the documentation. If you need assistance or have questions, our support
    team is available to help you integrate Ola Maps into your applications.
servers:
  - description: Ola Maps API Server
    url: https://api.olamaps.io
    x-internal: true
security:
  - api_key_credential: []
  - client_credential: []
tags:
  - name: Routing APIs
    description: >
      Ola Maps Routing APIs offer a suite of services for route planning,
      navigation, fleet optimization, and travel time estimation across various
      mobility scenarios.

      - **Directions :**  Generates turn-by-turn directions between two or more
      points with support for different travel modes, traffic conditions, and
      detailed step instructions.

      - **Distance Matrix :**  Calculates distance and estimated travel time
      between multiple origins and destinations in a matrix layout, supporting
      batch routing use cases.

      - **Route Optimizer :**  Reorders a list of waypoints to generate the most
      time-efficient route for a single vehicle. Useful in delivery sequencing
      and ride-sharing.

      - **Fleet Planner :**  Assigns and optimizes package routes across a fleet
      of vehicles, balancing constraints like vehicle capacity, working hours,
      and geographic coverage to minimize overall cost.

      <br/> <br/> These APIs are perfect for ride-hailing, delivery, logistics,
      and fleet management applications.

      Designed for reliability, scalability, and real-time performance, the APIs
      enable intelligent transportation and logistics solutions at scale.
  - name: Roads APIs
    description: >
      The Roads API offers developers a comprehensive solution for interacting
      with road data, enabling applications to precisely map vehicle paths and
      identify nearby roads. With features like "Snap to Road", "Nearest Roads"
      and "Speed Limits", these APIs are ideal for applications that require
      accurate road data for navigation, mapping, and tracking.
  - name: Places APIs
    description: >
      OLA Maps Places API offers several APIs useful for building a complete and
      intelligent place search experience by providing users with the ability to
      find places, addresses, and administrative regions.  These APIs return
      relevance-ranked results based on user input and location, making them
      ideal for navigation, local discovery, and various location-based
      applications.
  - name: Geocode APIs
    description: >
      OLA Maps Geocoding API offers a set of APIs that enable both forward and
      reverse geocoding, forming a core part of any location intelligence
      system.  These APIs allow users to convert addresses into geographic
      coordinates (forward geocoding) and retrieve address details from
      coordinates (reverse geocoding).  Designed for accuracy and performance,
      they are essential for applications involving mapping, routing, location
      tagging, and spatial analysis.
  - name: Geofencing APIs
    description: >
      OLA Maps Geofence APIs provide a solution for businesses to create and
      manage virtual boundaries on a map, commonly known as geofences.

      These APIs provide the users an ability to create virtual boundaries and
      use them to trigger location-based actions, enforce spatial rules, or
      analyze movement patterns.

      Geofence APIs offer the spatial awareness needed to build smart,
      responsive applications—whether it's for tracking assets, optimizing fleet
      routes, or creating personalized location-based experiences.
  - name: Elevation APIs
    description: >
      OLA Maps Elevation API provides accurate elevation data for any location
      on the Earth's surface. 

      By inputting geographic coordinates, this API returns the elevation above
      sea level, enabling developers to incorporate terrain information into
      their applications.

      <strong>Note:</strong> These API are currently limited to India.
  - name: Tiles APIs
    description: >-
      The Map Tiles API enables developers to retrieve and integrate various
      types of map tiles—such as vector tiles, raster tiles, and static
      pre-rendered tiles—into web and mobile applications.  These tiles are
      optimized for performance and scalability, supporting smooth zooming,
      panning, and styling.  With compatibility across platforms and rendering
      engines like MapLibre GL and Mapbox GL, the API allows for building rich,
      interactive, and visually consistent geospatial experiences tailored to
      different use cases.
  - name: Street View APIs
    description: >-
      The Street View API is a powerful tool that enables developers to embed
      immersive, 360-degree panoramic street-level imagery into their web or
      mobile applications.  It allows users to virtually explore real-world
      locations as if they were physically present, enhancing the experience
      with interactive navigation.  This API is ideal for applications involving
      travel, real estate, navigation, or local discovery, offering seamless
      integration of high-resolution visuals to provide context, familiarity,
      and engagement directly within your platform.
paths:
  /routing/v1/directions:
    post:
      tags:
        - Routing APIs
      summary: Directions API
      description: >
        Computes an optimal route between two or more locations using Ola Maps'
        advanced routing engine.  It provides detailed turn-by-turn navigation,
        step instructions, distance, duration, and real-time traffic congestion
        insights when requested.
      parameters:
        - name: x-request-id
          in: header
          required: false
          schema:
            type: string
          description: Unique request ID for tracing and logging.
        - name: x-correlation-id
          in: header
          required: false
          schema:
            type: string
          description: Correlation ID for distributed tracing across systems.
        - name: origin
          in: query
          required: true
          schema:
            type: string
          example: 28.638555,76.965502
          description: Origin coordinates in the format lat,lng.
        - name: destination
          in: query
          required: true
          schema:
            type: string
          example: 28.539669,77.051907
          description: Destination coordinates in the format lat,lng.
        - name: waypoints
          in: query
          required: false
          schema:
            type: string
          example: 28.638555,76.965502|28.539669,77.051907
          description: Optional waypoints joined by '|' separator in lat,lng format.
        - name: mode
          in: query
          required: false
          schema:
            type: string
            default: driving
          description: Travel mode - `driving`, `walking`, `bike`, or `auto`.
        - name: alternatives
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Whether multiple routes should be returned.
        - name: steps
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Whether step-by-step instructions are included.
        - name: overview
          in: query
          required: false
          schema:
            type: string
            default: full
          description: Level of overview geometry - `full`, `simplified`, or `false`.
        - name: language
          in: query
          required: false
          schema:
            type: string
            default: en
          description: >-
            Response language - `bn` (Bengali), `en` (English), `gu` (Gujarati),
            `hi` (Hindi), `kn` (Kannada), `ml` (Malayalam), `mr` (Marathi), `or`
            (Oriya), `sa` (Sanskrit), `ta` (Tamil), `te` (Telugu), `ur` (Urdu).
        - name: traffic_metadata
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >
            Include traffic congestion metadata in the response. If set to true,
            the response will contain congestion types (via `travel_advisory`), 
            but only when the `overview` parameter is also set to "full".
        - name: route_preference
          in: query
          required: false
          schema:
            type: string
            default: fastest
          description: Type of route to prefer - `fastest`, `shortest`.
      responses:
        '200':
          description: OK - Route successfully generated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  geocoded_waypoints:
                    type: array
                    description: Waypoints converted into geographic coordinates.
                    items:
                      type: object
                      properties:
                        geocoder_status:
                          type: string
                          example: OK
                          description: Status of geocoding (e.g., OK, ZERO_RESULTS).
                        place_id:
                          type: string
                          example: tdqcey303
                          description: Unique place ID or geohash.
                        types:
                          type: array
                          items:
                            type: string
                          description: Types of location (e.g., street_address).
                  routes:
                    type: array
                    description: >
                      List of route options. A route is a set of directions and
                      instructions for traveling from a source to a destination.
                    items:
                      type: object
                      properties:
                        legs:
                          type: array
                          description: >
                            A leg represents a segment of the route between two
                            consecutive waypoints and provides details such as
                            distance, duration, and step-by-step instructions
                            for that segment.
                          items:
                            type: object
                            properties:
                              distance:
                                type: number
                                example: 3836
                                description: Distance covered in this leg (in meters).
                              readable_distance:
                                type: string
                                example: 3 km 800 metres
                                description: Human-readable representation of the distance.
                              duration:
                                type: number
                                example: 698
                                description: Duration of the leg in seconds.
                              readable_duration:
                                type: string
                                example: 14 mins
                                description: Human-readable duration.
                              start_address:
                                type: string
                                description: Address of the starting point.
                              end_address:
                                type: string
                                description: Address of the ending point.
                              start_location:
                                type: object
                                description: Coordinates of the starting point.
                                properties:
                                  lat:
                                    type: number
                                    example: 12.909342
                                  lng:
                                    type: number
                                    example: 77.621689
                              end_location:
                                type: object
                                description: Coordinates of the ending point.
                                properties:
                                  lat:
                                    type: number
                                    example: 12.933972
                                  lng:
                                    type: number
                                    example: 77.611342
                              steps:
                                type: array
                                description: >
                                  Steps in a leg provide detailed, turn-by-turn
                                  navigation instructions for a specific 
                                  segment of the journey. Each step outlines
                                  specific actions and includes information on
                                  the distance and duration.
                                items:
                                  type: object
                                  properties:
                                    distance:
                                      type: number
                                      example: 476
                                      description: Distance of the step in meters.
                                    readable_distance:
                                      type: string
                                      example: 0.5 km
                                      description: Readable step distance.
                                    duration:
                                      type: number
                                      example: 99
                                      description: Step duration in seconds.
                                    readable_duration:
                                      type: string
                                      example: 0 hours 2 min
                                      description: Human-readable step duration.
                                    instructions:
                                      type: string
                                      example: Head west on NH48
                                      description: Navigation instructions.
                                    maneuver:
                                      type: string
                                      example: turn-right
                                      description: >-
                                        Type of turn or action to be performed
                                        at the step.
                                    bearing_before:
                                      type: number
                                      example: 0
                                      description: >
                                        Bearing before maneuver. The direction
                                        the traveler faces before the maneuver,
                                        expressed in degrees  relative to true
                                        north.
                                    bearing_after:
                                      type: number
                                      example: 259
                                      description: Bearing after maneuver.
                                    start_location:
                                      type: object
                                      description: Coordinates before step begins.
                                      properties:
                                        lat:
                                          type: number
                                          example: 12.90934
                                        lng:
                                          type: number
                                          example: 77.62169
                                    end_location:
                                      type: object
                                      description: Coordinates after step ends.
                                      properties:
                                        lat:
                                          type: number
                                          example: 12.90871
                                        lng:
                                          type: number
                                          example: 77.62158
                        summary:
                          type: string
                          description: Summary of the route.
                          example: ''
                        warnings:
                          type: array
                          items:
                            type: string
                          description: Any route-specific warnings (e.g., toll roads).
                        overview_polyline:
                          type: string
                          example: u`nAoc~uMeg...
                          description: >
                            Encoded polyline string of coordinates, that
                            outlines the path of the route, allowing for a
                            high-level visualization on a map.
                        travel_advisory:
                          type: string
                          example: 0,1,0 | 1,3,15
                          description: >
                            Traffic congestion advisories.

                            A pipeline-separated string containing congestion
                            data for the route. This field appears only if
                            `overview` is set to "full" and `traffic_metadata`
                            is true.

                            **Format:**
                            _<start_index,end_index,traffic_congestion_classification>|<start_index,end_index,traffic_congestion_classification>|..._

                            Where **start_index** and **end_index** are indexes
                            from the decoded **overview_polyline**.

                            - **Congestion levels:**

                            - **NORMAL:** 0   - **MODERATE:** 5   - **HEAVY:**
                            10   - **JAM:** 15

                            - _Note: The travel_advisory always starts from
                            index 0._
                        bounds:
                          type: string
                          description: Bounding box that encompasses the entire route.
                        copyrights:
                          type: string
                          example: OLA Map data ©2025
                          description: Copyright information.
                  status:
                    type: string
                    example: OK
                    description: Indicates the overall status of the request.
                  source_from:
                    type: string
                    example: Ola Maps
                    description: Source of the routing service.
        '400':
          description: >
            The request was malformed or missing required parameters (e.g.,
            origin or destination not provided or in an invalid format).
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: Invalid/missing origin
                    description: >-
                      Description of what caused the request to be considered
                      invalid.
                  request_type:
                    type: string
                    example: directions
                    description: Indicates the API that was called.
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: >-
                      Unique identifier for the request, useful for debugging
                      and tracing.
                  status:
                    type: string
                    example: BAD_REQUEST
                    description: Indicates that the error was due to a client-side issue.
        '500':
          description: >
            A server-side error occurred while processing the request (e.g.,
            routing engine failure or internal exception).
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: No serviceable boundary found for GeoPoints
                    description: >-
                      Explanation of the server-side issue that caused the
                      failure.
                  request_type:
                    type: string
                    example: directions
                    description: Indicates the API that was called.
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: Unique request ID for tracing the issue in logs.
                  status:
                    type: string
                    example: FAILURE
                    description: Indicates a failure on the server side.
  /routing/v1/directions/basic:
    post:
      tags:
        - Routing APIs
      summary: Directions Basic API
      description: >
        Provides a lightweight route between two or more points with essential
        metadata such as distance, duration, and geometry. This excludes
        real-time traffic data.
      parameters:
        - name: x-request-id
          in: header
          required: false
          schema:
            type: string
          description: Unique request ID for tracing and logging.
        - name: x-correlation-id
          in: header
          required: false
          schema:
            type: string
          description: Correlation ID for distributed tracing across systems.
        - name: origin
          in: query
          required: true
          schema:
            type: string
          example: 28.638555,76.965502
          description: Origin coordinates in the format lat,lng.
        - name: destination
          in: query
          required: true
          schema:
            type: string
          example: 28.539669,77.051907
          description: Destination coordinates in the format lat,lng.
        - name: waypoints
          in: query
          required: false
          schema:
            type: string
          example: 28.638555,76.965502|28.539669,77.051907
          description: Optional waypoints joined by '|' separator in lat,lng format.
        - name: alternatives
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: Whether multiple routes should be returned.
        - name: steps
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Whether step-by-step instructions are included.
        - name: overview
          in: query
          required: false
          schema:
            type: string
            default: full
          description: Level of overview geometry - full, simplified, or false.
        - name: language
          in: query
          required: false
          schema:
            type: string
            default: en
          description: >-
            Response language - `bn` (Bengali), `en` (English), `gu` (Gujarati),
            `hi` (Hindi), `kn` (Kannada), `ml` (Malayalam), `mr` (Marathi), `or`
            (Oriya), `sa` (Sanskrit), `ta` (Tamil), `te` (Telugu), `ur` (Urdu).
        - name: route_preference
          in: query
          required: false
          schema:
            type: string
            default: fastest
          description: Type of route to prefer - `fastest`, `shortest`.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  geocoded_waypoints:
                    type: array
                    description: Waypoints converted into geographic coordinates.
                    items:
                      type: object
                      properties:
                        geocoder_status:
                          type: string
                          example: OK
                          description: Status of geocoding (e.g., OK, ZERO_RESULTS).
                        place_id:
                          type: string
                          example: tdqcey303
                          description: Unique place ID or geohash.
                        types:
                          type: array
                          items:
                            type: string
                          description: Types of location (e.g., street_address).
                  routes:
                    type: array
                    description: >
                      List of route options. A route is a set of directions and
                      instructions for traveling from a source to a destination.
                    items:
                      type: object
                      properties:
                        legs:
                          type: array
                          description: >
                            A leg represents a segment of the route between two
                            consecutive waypoints and provides details such as
                            distance, duration, and step-by-step instructions
                            for that segment.
                          items:
                            type: object
                            properties:
                              distance:
                                type: number
                                example: 3836
                                description: Distance covered in this leg (in meters).
                              readable_distance:
                                type: string
                                example: 3 km 800 metres
                                description: Human-readable representation of the distance.
                              duration:
                                type: number
                                example: 698
                                description: Duration of the leg in seconds.
                              readable_duration:
                                type: string
                                example: 14 mins
                                description: Human-readable duration.
                              start_address:
                                type: string
                                description: Address of the starting point.
                              end_address:
                                type: string
                                description: Address of the ending point.
                              start_location:
                                type: object
                                description: Coordinates of the starting point.
                                properties:
                                  lat:
                                    type: number
                                    example: 12.909342
                                  lng:
                                    type: number
                                    example: 77.621689
                              end_location:
                                type: object
                                description: Coordinates of the ending point.
                                properties:
                                  lat:
                                    type: number
                                    example: 12.933972
                                  lng:
                                    type: number
                                    example: 77.611342
                              steps:
                                type: array
                                description: >
                                  Steps in a leg provide detailed, turn-by-turn
                                  navigation instructions for a specific 
                                  segment of the journey. Each step outlines
                                  specific actions and includes information on
                                  the distance and duration.
                                items:
                                  type: object
                                  properties:
                                    distance:
                                      type: number
                                      example: 476
                                      description: Distance of the step in meters.
                                    readable_distance:
                                      type: string
                                      example: 0.5 km
                                      description: Readable step distance.
                                    duration:
                                      type: number
                                      example: 99
                                      description: Step duration in seconds.
                                    readable_duration:
                                      type: string
                                      example: 0 hours 2 min
                                      description: Human-readable step duration.
                                    instructions:
                                      type: string
                                      example: Head west on NH48
                                      description: Navigation instructions.
                                    maneuver:
                                      type: string
                                      example: turn-right
                                      description: >-
                                        Type of turn or action to be performed
                                        at the step.
                                    bearing_before:
                                      type: number
                                      example: 0
                                      description: >
                                        Bearing before maneuver. The direction
                                        the traveler faces before the maneuver,
                                        expressed in degrees  relative to true
                                        north.
                                    bearing_after:
                                      type: number
                                      example: 259
                                      description: Bearing after maneuver.
                                    start_location:
                                      type: object
                                      description: Coordinates before step begins.
                                      properties:
                                        lat:
                                          type: number
                                          example: 12.90934
                                        lng:
                                          type: number
                                          example: 77.62169
                                    end_location:
                                      type: object
                                      description: Coordinates after step ends.
                                      properties:
                                        lat:
                                          type: number
                                          example: 12.90871
                                        lng:
                                          type: number
                                          example: 77.62158
                        summary:
                          type: string
                          description: Summary of the route.
                          example: ''
                        warnings:
                          type: array
                          items:
                            type: string
                          description: Any route-specific warnings (e.g., toll roads).
                        overview_polyline:
                          type: string
                          example: u`nAoc~uMeg...
                          description: >
                            Encoded polyline string of coordinates, that
                            outlines the path of the route, allowing for a
                            high-level visualization on a map.
                        bounds:
                          type: string
                          description: Bounding box that encompasses the entire route.
                        copyrights:
                          type: string
                          example: OLA Map data ©2025
                          description: Copyright information.
                  status:
                    type: string
                    example: OK
                    description: Indicates the overall status of the request.
                  source_from:
                    type: string
                    example: Ola Maps
                    description: Source of the routing service.
        '400':
          description: >
            The request was malformed or missing required parameters (e.g.,
            origin or destination not provided or in an invalid format).
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: Invalid/missing origin
                    description: >-
                      Description of what caused the request to be considered
                      invalid.
                  request_type:
                    type: string
                    example: directionsBasicApi
                    description: Indicates the API that was called.
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: >-
                      Unique identifier for the request, useful for debugging
                      and tracing.
                  status:
                    type: string
                    example: BAD_REQUEST
                    description: Indicates that the error was due to a client-side issue.
        '422':
          description: >
            The request was syntactically correct but semantically invalid
            (e.g., unsupported coordinates or out-of-coverage area).
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: No serviceable boundary found for GeoPoints
                    description: Explanation of why the request could not be processed.
                  request_type:
                    type: string
                    example: directionsBasicApi
                    description: Name of the API endpoint being called.
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: Unique identifier for the request.
                  status:
                    type: string
                    example: FAILURE
                    description: >-
                      Type of error encountered, typically FAILURE for
                      server-side issues.
        '500':
          description: >
            A server-side error occurred while processing the request (e.g.,
            routing engine failure or internal exception).
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: For any server side errors
                    description: >-
                      Explanation of the server-side issue that caused the
                      failure.
                  request_type:
                    type: string
                    example: directionsBasicApi
                    description: Indicates the API that was called.
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: Unique request ID for tracing the issue in logs.
                  status:
                    type: string
                    example: FAILURE
                    description: Indicates a failure on the server side.
  /routing/v1/distanceMatrix:
    get:
      tags:
        - Routing APIs
      summary: Distance Matrix API
      description: >
        Provides distance and ETA between multiple origin and destination
        points. If there are `x` origins and `y` destinations, the response will
        include `x × y` combinations.  This API is optimized for batch
        distance/ETA lookups, and response latency may increase with a higher
        number of origin-destination pairs.
      parameters:
        - name: x-request-id
          in: header
          required: false
          schema:
            type: string
          description: Unique ID for tracing requests across systems.
        - name: x-correlation-id
          in: header
          required: false
          schema:
            type: string
          description: Correlation ID for distributed tracing across systems.
        - name: origins
          in: query
          required: true
          schema:
            type: string
          example: 28.718667,77.036997|28.638555,76.965502
          description: |
            Pipe-separated ('|') origin coordinates in `lat,lng` format.
        - name: destinations
          in: query
          required: true
          schema:
            type: string
          example: 28.638555,76.965502|28.539669,77.051907
          description: |
            Pipe-separated ('|') destination coordinates in `lat,lng` format.
        - name: mode
          in: query
          required: false
          schema:
            type: string
            default: driving
          description: |
            Travel mode: driving, walking, bike, or auto.
        - name: route_preference
          in: query
          required: false
          schema:
            type: string
            default: fastest
          description: Type of route to prefer - `fastest`, `shortest`.
      responses:
        '200':
          description: >
            Successful response containing a 2D matrix of distances, durations,
            and polylines for each origin-destination pair. Units: distance
            (meters), duration (seconds).
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    description: >
                      Array of rows, each corresponding to an origin point. 
                      Each row contains an array of `elements`, where each
                      element represents a route to a specific destination.
                    items:
                      type: object
                      properties:
                        elements:
                          type: array
                          description: >
                            List of routing results for the origin against each
                            destination.  Each element includes estimated
                            distance, duration, route polyline, and routing
                            status.
                          items:
                            type: object
                            properties:
                              duration:
                                type: integer
                                format: int32
                                example: 719
                                description: Duration in seconds.
                              distance:
                                type: integer
                                format: int32
                                example: 3224
                                description: Distance in meters.
                              polyline:
                                type: string
                                example: su|mAyjvxM[GMCPmA...
                                description: Encoded polyline representing the route path.
                              status:
                                type: string
                                example: OK
                                description: >-
                                  Status of the routing computation (e.g., OK,
                                  INTERNAL_SERVER_ERROR)
                  status:
                    type: string
                    example: SUCCESS
                    description: >
                      Overall status of the response.

                      - `OK`: All origin-destination combinations were
                      successfully computed.

                      - `PARTIAL`: Some combinations were successful; others
                      failed (e.g., status in element =
                      `INTERNAL_SERVER_ERROR`).

                      - `FAILURE`: All combinations failed or a system error
                      occurred.
        '400':
          description: |
            The request is malformed or missing required parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: Invalid Request. Please check the request parameters
                    description: Explanation of what was wrong in the request.
                  request_type:
                    type: string
                    example: distanceMatrixApi
                    description: The API endpoint the request targeted.
                  request_id:
                    type: string
                    example: DISTANCE-MATRIX-20240724162847101-1708937523
                    description: Unique identifier for the request.
                  status:
                    type: string
                    example: BAD_REQUEST
                    description: Indicates a client-side error.
        '500':
          description: |
            Internal server error occurred while processing the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: Request could not be processed
                    description: Server-side reason for failure.
                  request_type:
                    type: string
                    example: distanceMatrixApi
                    description: API name being executed.
                  request_id:
                    type: string
                    example: DISTANCE-MATRIX-20240724162847101-1708937523
                    description: Unique request identifier.
                  status:
                    type: string
                    example: FAILURE
                    description: Indicates a server-level failure.
  /routing/v1/distanceMatrix/basic:
    get:
      tags:
        - Routing APIs
      summary: Distance Matrix Basic API
      description: >
        Calculates distance and estimated travel time between multiple origin
        and destination points. This basic variant is designed for fast,
        lightweight batch queries. It does not include traffic data or transport
        mode options.
      parameters:
        - name: x-request-id
          in: header
          required: false
          schema:
            type: string
          description: Unique ID for tracing requests across systems.
        - name: x-correlation-id
          in: header
          required: false
          schema:
            type: string
          description: Correlation ID for distributed tracing across systems.
        - name: origins
          in: query
          required: true
          schema:
            type: string
          example: 28.718667,77.036997|28.638555,76.965502
          description: |
            Pipe-separated origin coordinates in `lat,lng` format.
        - name: destinations
          in: query
          required: true
          schema:
            type: string
          example: 28.638555,76.965502|28.539669,77.051907
          description: |
            Pipe-separated destination coordinates in `lat,lng` format.
        - name: route_preference
          in: query
          required: false
          schema:
            type: string
            default: fastest
          description: Type of route to prefer - `fastest`, `shortest`.
      responses:
        '200':
          description: >
            Successful response containing a 2D matrix of distances, durations,
            and polylines for each origin-destination pair. Units: distance
            (meters), duration (seconds).
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    description: >
                      Array of rows, each corresponding to an origin point. 
                      Each row contains an array of `elements`, where each
                      element represents a route to a specific destination.
                    items:
                      type: object
                      properties:
                        elements:
                          type: array
                          description: >
                            List of routing results for the origin against each
                            destination.  Each element includes estimated
                            distance, duration, route polyline, and routing
                            status.
                          items:
                            type: object
                            properties:
                              duration:
                                type: integer
                                format: int32
                                example: 719
                                description: Duration in seconds.
                              distance:
                                type: integer
                                format: int32
                                example: 3224
                                description: Distance in meters.
                              polyline:
                                type: string
                                example: su|mAyjvxM[GMCPmA...
                                description: Encoded polyline representing the route path.
                              status:
                                type: string
                                example: OK
                                description: >-
                                  Status of the routing computation (e.g., OK,
                                  INTERNAL_SERVER_ERROR)
                  status:
                    type: string
                    example: SUCCESS
                    description: >
                      Overall status of the response.

                      - `OK`: All origin-destination combinations were
                      successfully computed.

                      - `PARTIAL`: Some combinations were successful; others
                      failed (e.g., status in element =
                      `INTERNAL_SERVER_ERROR`).

                      - `FAILURE`: All combinations failed or a system error
                      occurred.
        '400':
          description: |
            The request is malformed or missing required parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: Invalid Request. Please check the request parameters
                    description: Explanation of what was wrong in the request.
                  request_type:
                    type: string
                    example: distanceMatrixBasicApi
                    description: The API endpoint the request targeted.
                  request_id:
                    type: string
                    example: DISTANCE-MATRIX-20240724162847101-1708937523
                    description: Unique identifier for the request.
                  status:
                    type: string
                    example: BAD_REQUEST
                    description: Indicates a client-side error.
        '500':
          description: |
            Internal server error occurred while processing the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: Request could not be processed
                    description: Server-side reason for failure.
                  request_type:
                    type: string
                    example: distanceMatrixBasicApi
                    description: API name being executed.
                  request_id:
                    type: string
                    example: DISTANCE-MATRIX-20240724162847101-1708937523
                    description: Unique request identifier.
                  status:
                    type: string
                    example: FAILURE
                    description: Indicates a server-level failure.
  /routing/v1/routeOptimizer:
    post:
      tags:
        - Routing APIs
      summary: Route Optimizer API
      description: >
        Computes the most efficient route by reordering a list of waypoints to
        minimize overall travel time, based on estimated time of arrival (ETA). 
        This API supports round trips, fixed or flexible start/end points, and
        congestion-aware routing when enabled.
      parameters:
        - name: x-request-id
          in: header
          required: false
          schema:
            type: string
          description: Unique ID for tracing the request.
        - name: x-correlation-id
          in: header
          required: false
          schema:
            type: string
          description: Correlation ID for distributed tracing across systems.
        - name: locations
          in: query
          required: true
          schema:
            type: string
          example: 12.938399,77.632873|12.938041,77.628285
          description: >
            Pipe-separated list of coordinates in `lat,lng` format. Maximum of
            **25 points**.
        - name: source
          in: query
          required: false
          schema:
            type: string
            default: first
          description: |
            Source waypoint. Allowed values: `first`, `any`.
        - name: destination
          in: query
          required: false
          schema:
            type: string
            default: last
          description: |
            Destination waypoint. Allowed values: `last`, `any`.
        - name: round_trip
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >
            Whether the optimized route should return to the starting point.
            _Note: If `round_trip = false`, source=any and destination=any is
            not supported._
        - name: mode
          in: query
          required: false
          schema:
            type: string
            default: driving
          description: Travel mode - `driving`, `walking`, `bike`, or `auto`.
        - name: steps
          in: query
          required: false
          schema:
            type: boolean
            default: true
          description: Whether step-by-step instructions are included.
        - name: overview
          in: query
          required: false
          schema:
            type: string
            default: full
          description: Level of overview geometry - `full`, `simplified`, or `false`.
        - name: language
          in: query
          required: false
          schema:
            type: string
            default: en
          description: >-
            Response language - `bn` (Bengali), `en` (English), `gu` (Gujarati),
            `hi` (Hindi), `kn` (Kannada), `ml` (Malayalam), `mr` (Marathi), `or`
            (Oriya), `sa` (Sanskrit), `ta` (Tamil), `te` (Telugu), `ur` (Urdu).
        - name: traffic_metadata
          in: query
          required: false
          schema:
            type: boolean
            default: false
          description: >
            Include traffic congestion metadata in the response. If set to true,
            the response will contain congestion types (via `travel_advisory`), 
            but only when the `overview` parameter is also set to "full".
        - name: route_preference
          in: query
          required: false
          schema:
            type: string
            default: fastest
          description: Type of route to prefer - `fastest`, `shortest`.
      responses:
        '200':
          description: OK - Optimized route successfully generated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  routes:
                    type: array
                    description: List of optimized route options.
                    items:
                      type: object
                      properties:
                        legs:
                          type: array
                          description: >
                            A leg represents a segment of the route between two
                            consecutive waypoints and provides details such as
                            distance, duration, and step-by-step instructions
                            for that segment.
                          items:
                            type: object
                            properties:
                              distance:
                                type: number
                                example: 3836
                                description: Distance covered in this leg (in meters).
                              readable_distance:
                                type: string
                                example: 3 km 800 metres
                                description: Human-readable representation of the distance.
                              duration:
                                type: number
                                example: 698
                                description: Duration of the leg in seconds.
                              readable_duration:
                                type: string
                                example: 14 mins
                                description: Human-readable duration.
                              start_address:
                                type: string
                                description: Address of the starting point.
                              end_address:
                                type: string
                                description: Address of the ending point.
                              start_location:
                                type: object
                                description: Coordinates of the starting point.
                                properties:
                                  lat:
                                    type: number
                                    example: 12.909342
                                  lng:
                                    type: number
                                    example: 77.621689
                              end_location:
                                type: object
                                description: Coordinates of the ending point.
                                properties:
                                  lat:
                                    type: number
                                    example: 12.933972
                                  lng:
                                    type: number
                                    example: 77.611342
                              steps:
                                type: array
                                description: >
                                  Steps in a leg provide detailed, turn-by-turn
                                  navigation instructions for a specific 
                                  segment of the journey. Each step outlines
                                  specific actions and includes information on
                                  the distance and duration.
                                items:
                                  type: object
                                  properties:
                                    distance:
                                      type: number
                                      example: 476
                                      description: Distance of the step in meters.
                                    readable_distance:
                                      type: string
                                      example: 0.5 km
                                      description: Readable step distance.
                                    duration:
                                      type: number
                                      example: 99
                                      description: Step duration in seconds.
                                    readable_duration:
                                      type: string
                                      example: 0 hours 2 min
                                      description: Human-readable step duration.
                                    instructions:
                                      type: string
                                      example: Head west on NH48
                                      description: Navigation instructions.
                                    maneuver:
                                      type: string
                                      example: turn-right
                                      description: >-
                                        Type of turn or action to be performed
                                        at the step.
                                    bearing_before:
                                      type: number
                                      example: 0
                                      description: >
                                        Bearing before maneuver. The direction
                                        the traveler faces before the maneuver,
                                        expressed in degrees  relative to true
                                        north.
                                    bearing_after:
                                      type: number
                                      example: 259
                                      description: Bearing after maneuver.
                                    start_location:
                                      type: object
                                      description: Coordinates before step begins.
                                      properties:
                                        lat:
                                          type: number
                                          example: 12.90934
                                        lng:
                                          type: number
                                          example: 77.62169
                                    end_location:
                                      type: object
                                      description: Coordinates after step ends.
                                      properties:
                                        lat:
                                          type: number
                                          example: 12.90871
                                        lng:
                                          type: number
                                          example: 77.62158
                        summary:
                          type: string
                          description: Summary of the route.
                          example: ''
                        warnings:
                          type: array
                          items:
                            type: string
                          description: Any route-specific warnings (e.g., toll roads).
                        overview_polyline:
                          type: string
                          example: u`nAoc~uMeg...
                          description: >
                            Encoded polyline string of coordinates, that
                            outlines the path of the route, allowing for a
                            high-level visualization on a map.
                        travel_advisory:
                          type: string
                          example: 0,1,0 | 1,3,15
                          description: >
                            Traffic congestion advisories.

                            A pipeline-separated string containing congestion
                            data for the route. This field appears only if
                            `overview` is set to "full" and `traffic_metadata`
                            is true.

                            **Format:**
                            _<start_index,end_index,traffic_congestion_classification>|<start_index,end_index,traffic_congestion_classification>|..._

                            Where **start_index** and **end_index** are indexes
                            from the decoded **overview_polyline**.

                            - **Congestion levels:**

                            - **NORMAL:** 0   - **MODERATE:** 5   - **HEAVY:**
                            10   - **JAM:** 15

                            - _Note: The travel_advisory always starts from
                            index 0._
                        waypoint_order:
                          type: array
                          items:
                            type: integer
                          example:
                            - 0
                            - 3
                            - 2
                            - 1
                          description: >
                            Optimized index order for the given waypoints to
                            minimize travel time.
                        bounds:
                          type: string
                          description: Bounding box that encompasses the entire route.
                        copyrights:
                          type: string
                          example: OLA Map data ©2025
                          description: Copyright information.
                  status:
                    type: string
                    example: OK
                    description: Indicates request success.
                  source_from:
                    type: string
                    example: Ola Maps
                    description: Source provider of routing results.
        '400':
          description: >
            Client-side error: invalid or missing parameters (e.g., location
            count, round trip config).
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: Invalid or missing locations/source/destination
                    description: Description of what caused the error.
                  request_type:
                    type: string
                    example: routeOptimizerApi
                    description: The API that was called.
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: Request ID for traceability.
                  status:
                    type: string
                    example: BAD_REQUEST
                    description: Indicates client-side input error.
        '500':
          description: |
            Server error while computing optimized route.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: No serviceable boundary found for GeoPoints
                    description: Explanation of backend failure.
                  request_type:
                    type: string
                    example: routeOptimizerApi
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: Unique identifier for this failed request.
                  status:
                    type: string
                    example: FAILURE
                    description: Category of error (e.g., system-level failure).
  /routing/v1/fleetPlanner:
    post:
      tags:
        - Routing APIs
      summary: Fleet Planner API
      description: >
        Solves multi-package routing and assignment across a fleet of vehicles
        to minimize cost and travel time. Waypoints may be reordered for
        optimization.

        _Note: Additional fields may be introduced in future responses as
        non-breaking changes._
      parameters:
        - name: x-request-id
          in: header
          required: false
          schema:
            type: string
          description: Unique request identifier for tracing.
        - name: x-correlation-id
          in: header
          required: false
          schema:
            type: string
          description: Correlates logs across systems.
        - name: strategy
          in: query
          required: true
          schema:
            type: string
          description: |
            Routing strategy:
            - `optimal`: Minimizes cost and distance
            - `fair`: Distributes load evenly across vehicles
        - name: route_preference
          in: query
          required: false
          schema:
            type: string
            default: fastest
          description: Type of route to prefer - `fastest`, `shortest`.
      requestBody:
        required: true
        description: >
          Upload a `.json` file under the `input` field containing packages and
          vehicles. 

          - Max file size: 100 KB. 

          - Max: 100 packages, 20 vehicles. 

          - Required package fields: `id`, `weightInGrams`, and at least one
          location. 

          - Vehicle must contain `id` and `capacityInKG`.
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                input:
                  type: string
                  format: binary
      responses:
        '200':
          description: Optimized fleet allocation and routing solution returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  vehicles:
                    type: array
                    items:
                      type: object
                      properties:
                        vehicle:
                          type: object
                          properties:
                            id:
                              type: string
                              example: MH12AA1199
                              description: Unique identifier for the vehicle.
                            original_capacity_in_KG:
                              type: integer
                              example: 2
                              description: >-
                                Maximum load capacity of the vehicle in
                                kilograms before assignment.
                            remaining_capacity_after_assignment_in_KG:
                              type: number
                              example: 0.8
                              description: >-
                                Remaining load capacity (in kilograms) after
                                package allocation.
                            on_duty:
                              type: boolean
                              description: >-
                                Indicates whether the vehicle is active and
                                available for assignment.
                            distance_travelled_in_Meters:
                              type: number
                              example: 58410.99
                              description: >-
                                Total distance the vehicle is assigned to
                                travel, in meters.
                        route:
                          type: object
                          properties:
                            legs:
                              type: array
                              description: >
                                Ordered list of individual travel segments that
                                make up the full route assigned to a vehicle.
                                Each leg represents travel between two
                                consecutive stops (e.g., package pickup and
                                drop-off).
                              items:
                                type: object
                                properties:
                                  distance:
                                    type: object
                                    description: Total distance for this leg.
                                    properties:
                                      text:
                                        type: string
                                        example: '0.00'
                                        description: >-
                                          Human-readable distance (e.g., in
                                          kilometers or meters).
                                      value:
                                        type: integer
                                        example: 0
                                        description: Numeric distance in meters.
                                  duration:
                                    type: object
                                    description: Estimated travel time for this leg.
                                    properties:
                                      text:
                                        type: string
                                        example: 1 hours 10 minutes
                                        description: Human-readable duration.
                                      value:
                                        type: integer
                                        example: 3587
                                        description: Duration in seconds.
                                  start_address:
                                    type: string
                                    example: 13.050748,77.542527
                                    description: >-
                                      Formatted or coordinate address where this
                                      leg begins.
                                  end_address:
                                    type: string
                                    example: 13.050748,77.542527
                                    description: >-
                                      Formatted or coordinate address where this
                                      leg ends.
                                  start_location:
                                    type: object
                                    description: Latitude and longitude of the start point.
                                    properties:
                                      lat:
                                        type: number
                                        example: 13.050748
                                        description: Latitude of the start point.
                                      lng:
                                        type: number
                                        example: 77.542527
                                        description: Longitude of the start point.
                                  end_location:
                                    type: object
                                    description: Latitude and longitude of the end point.
                                    properties:
                                      lat:
                                        type: number
                                        example: 13.050748
                                        description: Latitude of the end point.
                                      lng:
                                        type: number
                                        example: 77.542527
                                        description: Longitude of the end point.
                                  package_id:
                                    type: string
                                    example: package2
                                    description: >-
                                      Identifier of the package associated with
                                      this leg.
                                  polyline:
                                    type: string
                                    example: e~snAy_hxM??
                                    description: >-
                                      Encoded polyline representing the geometry
                                      of this leg's path.
                            overview_polyline:
                              type: string
                              example: e~snAy_hxM??
                              description: >
                                Encoded polyline summarizing the full path taken
                                by the vehicle, covering all legs. Useful for
                                high-level visualization of the entire route.
                  spill_package_ids:
                    type: array
                    items:
                      type: string
                      example: package1
                    example:
                      - package1
                    description: >
                      List of package IDs that could not be assigned to any
                      vehicle due to constraints such as limited vehicle
                      capacity, working hours, or unreachable locations.
                  total_distance_travelled_in_KMs:
                    type: number
                    example: 58.51
                    description: >
                      Total distance (in kilometers) covered by all assigned
                      vehicles combined in the optimized fleet plan.
        '400':
          description: >
            The request is malformed or contains unsupported parameters, such as
            an invalid strategy or missing required fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: Incorrect strategy passed
                    description: >-
                      A message explaining why the request was rejected (e.g.,
                      unsupported strategy or missing data).
                  request_type:
                    type: string
                    example: fleetPlannerApi
                    description: Identifier for the API that was invoked.
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: >-
                      Unique ID assigned to the request for tracing and
                      debugging.
                  status:
                    type: string
                    example: BAD_REQUEST
                    description: Classification of the error type (client-side).
        '422':
          description: >
            The server understands the request but is unable to process it,
            usually due to invalid spatial data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: No serviceable boundary found for GeoPoints
                    description: Detailed reason for why the input could not be processed.
                  request_type:
                    type: string
                    example: fleetPlannerApi
                    description: Identifier for the API called.
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: Unique traceable request ID.
                  status:
                    type: string
                    example: BAD_REQUEST
                    description: >-
                      Indicates the request was syntactically correct but
                      semantically invalid.
        '500':
          description: >
            An internal error occurred while processing the request. This may
            happen due to unexpected failures in the backend system.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: Request could not be processed
                    description: A message describing the system-level error encountered.
                  request_type:
                    type: string
                    example: fleetPlannerApi
                    description: Identifier for the API that encountered the error.
                  request_id:
                    type: string
                    example: ca8a1960-a734-41e5-96f2-7aa5d2afd9ca#10457
                    description: Traceable ID for diagnostics and support.
                  status:
                    type: string
                    example: FAILURE
                    description: Classification of the error as a server-side failure.
  /routing/v1/snapToRoad:
    get:
      tags:
        - Roads APIs
      summary: SnapToRoad API
      description: >-
        This API captures a list of geographic coordinates and aligns them to
        the nearest routable road segments. It supports up to 50
        latitude/longitude pairs per request. The service can optionally enhance
        the path by adding intermediate points to better match the curvature of
        the road.
      parameters:
        - $ref: '#/components/parameters/x_request_id'
        - $ref: '#/components/parameters/x_correlation_id'
        - in: query
          name: points
          required: true
          schema:
            type: string
            example: >-
              12.99927894246456,77.67323803525812|12.992086564113583,77.65899014102202|12.992567456375086,77.65989136324778|12.992672238708593,77.64337109685341|12.99127113597667,77.65716623889841
          description: >-
            The points to be snapped. Accepts a list of latitude/longitude pairs
            separated by commas. Coordinates should be separated by the pipe
            (`|`) character.
        - in: query
          name: enhancePath
          required: false
          schema:
            type: boolean
            default: false
            example: false
          description: >-
            If true, response includes additional points between the given
            snapped points to enrich the path and match the road’s curvature.
            Defaults to false.
      responses:
        '200':
          description: |
            Successful response with snapped points.

            **Possible values for `snapped_type`**:
            - `Nearest`: Closest road segment
            - `Match`: Matched using road path alignment
            - `NoSegment`: No matching segment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapToRoadResponse'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '400':
          description: >-
            Bad Request - Missing or invalid parameters (e.g., malformed
            coordinates)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapToRoadError400'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/snapToRoadError500'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
  /routing/v1/nearestRoads:
    get:
      tags:
        - Roads APIs
      summary: Nearest Roads API
      description: >-
        API to return nearest snapped points for each given coordinate.  Maximum
        100 coordinates supported in a single request.
      parameters:
        - $ref: '#/components/parameters/x_request_id'
        - $ref: '#/components/parameters/x_correlation_id'
        - $ref: '#/components/parameters/mode'
        - name: points
          in: query
          required: true
          schema:
            type: string
            example: >-
              12.99927894246456,77.67323803525812|12.992086564113583,77.65899014102202|12.992567456375086,77.65989136324778
          description: >-
            A pipe-separated list of lat,long coordinates.  Maximum 100 points
            supported. Format: `lat1,lng1|lat2,lng2|...`
        - name: radius
          in: query
          required: false
          schema:
            type: number
            default: 500
          description: >-
            Optional radius in meters to search for nearby roads. Defaults to
            500 if value is between 0 and 1 or not provided.
      responses:
        '200':
          description: Successful response (fully or partially snapped points)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nearestRoadsResponse'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '400':
          description: Bad Request - Invalid or missing parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nearestRoadsError400'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '422':
          description: Unprocessable Entity - Logical error in input (e.g. invalid enum)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nearestRoadsError422'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/nearestRoadsError500'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
  /routing/v1/speedLimits:
    get:
      tags:
        - Roads APIs
      summary: SpeedLimits API
      description: >-
        This API captures a list of geographic coordinates and snaps them to the
        nearest routable road segments or aligns  them using map matching. It
        also provides the speed limits for the snapped segments. It supports up
        to 50  latitude/longitude pairs per request.
      parameters:
        - $ref: '#/components/parameters/x_request_id'
        - $ref: '#/components/parameters/x_correlation_id'
        - name: points
          in: query
          required: true
          schema:
            type: string
            example: 13.0630227,77.5930842|13.063479498221085,77.59321523175956
          description: >-
            A pipe (`|`) separated list of latitude,longitude coordinates to be
            snapped to road segments.  Maximum 50 points supported.
        - name: snapStrategy
          in: query
          required: false
          schema:
            type: string
            enum:
              - snaptoroad
              - nearestroad
            default: snaptoroad
          description: >
            Specifies the snapping strategy to apply on input coordinates:

            - `snaptoroad`: Aligns points to the road network using trace-based
            logic.

            - `nearestroad`: Snaps points individually to the nearest road
            segment.
      responses:
        '200':
          description: Successful response (either fully or partially successful)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speedLimitsResponse'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '400':
          description: Bad Request - Malformed or invalid input parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speedLimitsError400'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speedLimitsError404'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '422':
          description: >-
            Unprocessable Entity - Invalid logic, such as bad enum or
            conflicting inputs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speedLimitsError422'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/speedLimitsError500'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
  /places/v1/autocomplete:
    get:
      operationId: Autocomplete
      tags:
        - Places APIs
      summary: Autocomplete API
      description: >
        The Places Autocomplete API provides real-time suggestions for place
        names and addresses as users type a query. 

        It is designed to enhance user experience in search fields by offering
        predictive results that refine with each keystroke. 

        The API takes a partial input string and returns a list of suggested
        place predictions. \

        <br/>

        <i>Helpful Tip: Use with a <strong>debounce</strong> function to reduce
        number of calls</i>
      parameters:
        - $ref: '#/components/parameters/x_request_id'
        - $ref: '#/components/parameters/x_correlation_id'
        - $ref: '#/components/parameters/input'
        - $ref: '#/components/parameters/location'
        - $ref: '#/components/parameters/radius'
        - $ref: '#/components/parameters/strictbounds'
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: >-
            Successful response. Please note there are multiple responses
            possible based on the scenario. One possibility is autocomplete
            results are  returned, which is outlined in example and schema.
            Other possibility is  zero results which is outlined under schema
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AutocompleteSuccess'
                  - $ref: '#/components/schemas/AutocompleteZeroResults'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/AutocompleteBadRequest'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/InternalServerError'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
  /places/v1/details:
    get:
      operationId: place details
      tags:
        - Places APIs
      summary: Place Details API
      description: >-
        Provides Place Details of a particular Place/POI whose place_id 
        necessarily needs to be given as an input.
      parameters:
        - $ref: '#/components/parameters/x_request_id'
        - $ref: '#/components/parameters/x_correlation_id'
        - $ref: '#/components/parameters/place_id'
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: >-
            Successful response. Please note there will a single result for a
            valid place_id. Zero Results would be returned in case of an invalid
            or a non existing place_id.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlaceDetailsSuccess'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlaceDetailsBadRequest'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                error_message: Reason for error
                status: Internal Server Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
  /places/v1/details/advanced:
    get:
      operationId: advance place details
      tags:
        - Places APIs
      summary: Advance Place Details API
      description: >-
        Provides Advance Place Details of a particular Place/POI whose place_id 
        necessarily needs to be given as an input. This API provides more
        detailed information about the place over the basic place details API.
      parameters:
        - $ref: '#/components/parameters/x_request_id'
        - $ref: '#/components/parameters/x_correlation_id'
        - $ref: '#/components/parameters/place_id'
        - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: >-
            Successful response. Please note there will a single result for a
            valid place_id. Zero Results would be returned in case of an invalid
            or a non existing place_id.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlaceDetailsAdvancedSuccess'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PlaceDetailsBadRequest'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '500':
          description: Internal Server Error
          content:
            application/json:
              example:
                error_message: Reason for error
                status: Internal Server Error
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
  /places/v1/nearbysearch:
    get:
      operationId: nearbySearch
      tags:
        - Places APIs
      summary: Nearby Search API
      description: >
        The Places Nearby API is used to find places of interest near a specific
        geographic location, typically defined by latitude and longitude
        coordinates.  It returns a list of nearby places ranked by distance or
        popularity, depending on the parameters provided. \

        This API is ideal for use cases like discovering services or amenities
        around a user's current location, such as finding nearby restaurants,
        cafes, or hotels.
      parameters:
        - $ref: '#/components/parameters/x_request_id'
        - $ref: '#/components/parameters/x_correlation_id'
        - $ref: '#/components/parameters/nearbysearch_location'
        - $ref: '#/components/parameters/nearbysearch_types'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/nearbysearch_radius'
        - $ref: '#/components/parameters/nearbysearch_withCentroid'
        - $ref: '#/components/parameters/nearbysearch_rankBy'
        - $ref: '#/components/parameters/nearbysearch_limit'
      responses:
        '200':
          description: >-
            Successful response. Please note there would be multiple results in
            the response  based on the input type and input coordinates. Other
            possibility is zero results  which is outlined under schema
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/NearbySearchSuccess'
                  - $ref: '#/components/schemas/NearbySearchZeroResults'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '400':
          description: Bad Request for Special character and invalid layers, locations etc.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/NearbySearchBadRequest'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
              $ref: '#/components/headers/x_correlation_id'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Nearbysearch500Error'
          headers:
            X-Request-Id:
              $ref: '#/components/headers/x_request_id'
            X-Correlation-Id:
[...]
